.message {
    width: 600px;
    display: flex;
    flex-direction: column;
    /*background-color: rgb(226, 226, 226);*/
}

.triangle {
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 0 0 30px 30px;
    border-color: transparent transparent #f8f8f8 transparent;
    align-self: flex-end;
}

.imageAndText {
    display: flex;
    justify-content: space-between;
}

.imageAndText img {
    display: block;
    width: 60px;
    height: 60px;
    border-radius: 60px;
    box-shadow: 0 0 0 2px rgb(226, 226, 226), 0 0 1px #333;
    align-self: flex-end;
}

.messageForm {
    display: flex;
}

.text {
    width: 500px;
    height: 100px;
    padding: 15px;
    border-radius: 30px 30px 30px 0px;
    background-color: #f8f8f8;
}

.text:after {

}

.name {

}

.messageText {
    margin-top: 10px;
}

.time {
 margin-left: 10px;
}